
<div class="modal bs-example-modal-sm in login-mask" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" [style.display]="isHide ? 'none'  : 'block'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">登录</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal new-lg-form" (ngSubmit)="hideLoginBox()">

          <div class="form-group  m-t-20">
            <div class="col-xs-12">
              <label>用户名</label>
              <input class="form-control" type="text" placeholder="请输入手机号" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <label>密 码</label>
              <input class="form-control" type="password" placeholder="请输入密码" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <div class="checkbox checkbox-info p-t-0">
                <input id="checkbox-signup" type="checkbox">
                <label for="checkbox-signup"> 记住我 </label>
              </div>
              <a href="#" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> 忘记密码？</a> </div>
          </div>
          <div class="form-group text-center">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit" style="pointer-events: auto;">登 录</button>
            </div>
          </div>

          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              <p>还没有账户？ <a href="#" class="text-primary m-l-5"><b>注 册</b></a></p>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
