<ul class="sidebar-menu workattendance-mine" data-widget="tree">
  <li class="treeview">
    <a href="#">
      <span>迟到</span>
      <span class="pull-right-container">
        3人<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>
        <span>范余银（技术部）</span>
        <span class="pull-right-container">
        2次 29分钟<i class="fa  fa-angle-right pull-right"></i>
      </span>
      </li>
      <li>
        <span>范余银（技术部）</span>
        <span class="pull-right-container">
        2次 29分钟<i class="fa  fa-angle-right pull-right"></i>
      </span>
      </li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>早退</span>
      <span class="pull-right-container">
        3人<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>
        <span>范余银（技术部）</span>
        <span class="pull-right-container">
        2次 29分钟<i class="fa  fa-angle-right pull-right"></i>
      </span>
      </li>
      <li>
        <span>范余银（技术部）</span>
        <span class="pull-right-container">
        2次 29分钟<i class="fa  fa-angle-right pull-right"></i>
      </span>
      </li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>缺卡</span>
      <span class="pull-right-container">
        1次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 上午未打卡</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>旷工</span>
      <span class="pull-right-container">
        1次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 上午未打卡</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>外勤</span>
      <span class="pull-right-container">
        1次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 上午未打卡</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>加班</span>
      <span class="pull-right-container">
        1次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 上午未打卡</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>出差</span>
      <span class="pull-right-container">
        1次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 上午未打卡</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>丧假</span>
      <span class="pull-right-container">
        1次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 上午未打卡</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>事假</span>
      <span class="pull-right-container">
        1次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 上午未打卡</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>例假</span>
      <span class="pull-right-container">
        1次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 上午未打卡</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>调休</span>
      <span class="pull-right-container">
        1次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 上午未打卡</li>
    </ul>
  </li>
</ul>
