<form role="form">
  <div class="box-body">

    <div class="form-group">
      <label>时间段:</label>

      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="text" class="form-control pull-right" id="reservation">
      </div>
      <!-- /.input group -->
    </div>
    <div class="form-group">
      <label>时长（小时）</label>
      <input class="form-control" type="text" placeholder="请输入时长">
    </div>
    <div class="form-group">
      <label>是否法定节假日</label>
      <select class="form-control">
        <option>是</option>
        <option>否</option>
      </select>
    </div>
    <div class="form-group">
      <label>加班核算方式</label>
      <select class="form-control">
        <option>申请调休</option>
        <option>申请加班费</option>
      </select>
    </div>
    <div class="form-group">
      <label>加班原因</label>
      <textarea class="form-control" rows="3" placeholder="请输入加班原因 ..."></textarea>
    </div>

    <div class="form-group">
      <input type="file" id="exampleInputFile">

    </div>

  </div>
  <!-- /.box-body -->

  <div class="box-footer">
    <button type="submit" class="btn btn-primary">提交</button>
  </div>
</form>
