
<section class="content">

  <app-home-small-box></app-home-small-box>

  <div class="row">
    <section class="col-lg-6 connectedSortable">
      <div class="box box-white">
        <div class="box-header">
          <i class="ion ion-clipboard"></i>

          <h3 class="box-title">工作任务列表</h3>

          <div class="box-tools pull-right">
            <ul class="pagination pagination-sm inline">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
          <app-home-task-s></app-home-task-s>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix no-border">
          <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
        </div>
      </div>
    </section>
    <section class="col-lg-6 connectedSortable">
      <div class="box box-white">
        <div class="box-header">
          <i class="fa fa-comments-o"></i>

          <h3 class="box-title">消息</h3>

          <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
            <div class="btn-group" data-toggle="btn-toggle">
              <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i>
              </button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
            </div>
          </div>
        </div>
        <app-home-chat-s></app-home-chat-s>
        <!-- /.chat -->

      </div>
    </section>
    <section class="col-lg-6 connectedSortable">

      <div class="box box-white">
        <div class="box-body no-padding">
          <!-- THE CALENDAR -->
          <div id="calendar">
            <app-home-calendar-s></app-home-calendar-s>
          </div>
        </div>
        <!-- /.box-body -->
      </div>

    </section>
  </div>

</section>

