<form role="form">
  <div class="box-body">
    <div class="form-group">
      <label>用印用途</label>
      <input class="form-control" type="text" placeholder="请填用印用途">
    </div>

    <hr class=""/>

    <div class="form-group">
      <label>物品名称</label>
      <input class="form-control" type="text" placeholder="请填写物品名称">
    </div>
    <div class="form-group">
      <label>数量</label>
      <input class="form-control" type="text" placeholder="请填写数量">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-block btn-default btn-flat"><i class="fa fa-plus"></i> 增加物品</button>
    </div>

    <div class="form-group">
      <input type="file" id="exampleInputFile">
    </div>

  </div>
  <!-- /.box-body -->

  <div class="box-footer">
    <button type="submit" class="btn btn-primary">提交</button>
  </div>
</form>
