<div class="workattendance-mine-title">
  <h2 class="page-header">
    范余银
    <small class="pull-right">2017年12月</small>
  </h2>
</div>

<ul class="sidebar-menu workattendance-mine" data-widget="tree">
  <li class="treeview">
    <a href="#">
      <span>出勤天数</span>
      <span class="pull-right-container">
        17天<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一</li>
      <li>2017-12-18 星期一</li>
      <li>2017-12-18 星期一</li>
      <li>2017-12-18 星期一</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>出勤班次</span>
      <span class="pull-right-container">
        共17次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>班次：白班 出勤:17次</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>休息天数</span>
      <span class="pull-right-container">
        1天<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>迟到</span>
      <span class="pull-right-container">
        1次，共10分钟<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 09:10 迟到 10分钟</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>早退</span>
      <span class="pull-right-container">
        1次，共10分钟<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 15:20 早退 10分钟</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>缺卡</span>
      <span class="pull-right-container">
        1次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 上午未打卡</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>旷工</span>
      <span class="pull-right-container">
        半天<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 上午旷工</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>外勤</span>
      <span class="pull-right-container">
        1次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 09:00 外勤打卡</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>事假</span>
      <span class="pull-right-container">
        1天<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 09:00-2017-12-18 星期一 17:30</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>加班</span>
      <span class="pull-right-container">
        2小时<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 17:30-2017-12-18 星期一 19:30</li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <span>补卡申请</span>
      <span class="pull-right-container">
        2次<i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>2017-12-18 星期一 17:30</li>
      <li>2017-12-11 星期二 09:00</li>
    </ul>
  </li>
</ul>
