<form role="form">
  <div class="box-body">


    <div class="form-group">
      <label>需求岗位</label>
      <input class="form-control" type="text" placeholder="请填写需求岗位">
    </div>
    <div class="form-group">
      <label>需求人数</label>
      <input class="form-control" type="text" placeholder="请填写需求人数">
    </div>
    <div class="form-group">
      <label>岗位现有人数</label>
      <input class="form-control" type="text" placeholder="请填写岗位现有人数">
    </div>
    <div class="form-group">
      <label>岗位职责要求</label>
      <textarea class="form-control" rows="3" placeholder="请输入岗位职责要求 ..."></textarea>
    </div>
    <div class="form-group">
      <label>希望到岗日期:</label>

      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="text" class="form-control pull-right" id="reservation">
      </div>
      <!-- /.input group -->
    </div>

  </div>
  <!-- /.box-body -->

  <div class="box-footer">
    <button type="submit" class="btn btn-primary">提交</button>
  </div>
</form>
