

  <div class="workattendance-day-title">
    <h2 class="page-header">
      2017-12-15
      <small class="pull-right">星期五</small>
    </h2>
  </div>


  <div class="m-t-30 minus-margin">
    <div class="col-sm-12 col-sm-6 b-r">
      <ul class="expense-box">
        <li><i class="fa fa-bookmark-o text-info"></i>
          <div>
            <h2>10</h2>
            <h4>打卡人数</h4>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-sm-6 bb-t">
      <ul class="expense-box">
        <li><i class="fa fa-bookmark-o text-info"></i>
          <div>
            <h2>12</h2>
            <h4>应到人数</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="minus-margin">
    <div class="col-sm-12 col-sm-6  b-t b-r">
      <ul class="expense-box">
        <li><i class="fa fa-bookmark-o text-info"></i>
          <div>
            <h2>2</h2>
            <h4>未打卡</h4>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-sm-6  b-t">
      <ul class="expense-box">
        <li><i class="fa fa-bookmark-o text-info"></i>
          <div>
            <h2>2</h2>
            <h4>迟到</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="minus-margin">
    <div class="col-sm-12 col-sm-6  b-t b-r">
      <ul class="expense-box">
        <li><i class="fa fa-bookmark-o text-info"></i>
          <div>
            <h2>0</h2>
            <h4>请假</h4>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-sm-6  b-t">
      <ul class="expense-box">
        <li><i class="fa fa-bookmark-o text-info"></i>
          <div>
            <h2>0</h2>
            <h4>外勤</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>


